<% if current_user.admin %>

	<h1>Editing Group</h1>

	<%= render 'form', group: @group %>

	<%= link_to 'Ver', @group %> |
	<%= link_to 'Conjuntos', groups_path %>
	
<% else %>

  Acceso no autorizado 

<% end %>