<h3 class='text-center'>Editing Property <%= @property.identifier %></h3>

<%= render 'form', property: @property %>

<div class="mb-5">  
	<%= link_to 'Ver', @property %> |
	<%= link_to 'Propiedades', properties_path %>
</div>