<h3 class='text-center'>Editing Resident <%#= @property.residents.resident.id %></h3>

<%= render 'form', resident: @resident %>

<div class="mb-5">  
	<%= link_to 'Show', property_resident_path(@property, @resident) %> |
	<%= link_to 'Back', property_residents_path(@property) %>
</div>
