.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}
.top{
  margin-bottom: 4%;
}
.red {
  color: red !important;
  margin-bottom:3%;
}
.green {
  color: green !important;
}
.indextable {
  margin-left: 15px;
  //padding-left: 5%;
}


